<%= form_with(model: comment, local: true, class: "form-horizontal") do |form| %>

  <%= form.hidden_field :idea_id %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      
  <div class="form-group">
    <%= form.label :user_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= form.text_field :user_name, class: "form-control", placeholder: "You awesome comment" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :body, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= form.text_area :body, class: "form-control", placeholder: "You awesome comment" %>
    </div>
  </div>
    
  
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= form.submit "Submit your comment", class: "btn btn-success" %>
    </div>
  </div>
  
  
  
<% end %>
